:root {
  --max-width: 1100px;
  --backgroundColor: black;
  --backgroundTextColor: white;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  color: var(--backgroundTextColor);
  background: var(--backgroundColor);
}

